### Installing this package to fetch data from an API or web services

In [1]:
pip install pandas requests

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.13/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.13/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.13/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from requests) (2025.8.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import requests

**Loading two csv files into panda dataframe**

In [3]:
df_passenger = pd.read_csv('Air_Traffic_Passenger_Statistics.csv')
df_landings  = pd.read_csv('Air_Traffic_Landings_Statistics.csv')

print("Passenger shape:", df_passenger.shape)
print("Landings shape :", df_landings.shape)
df_passenger.head()

Passenger shape: (38370, 15)
Landings shape : (44172, 17)

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM

**creating small sample**

In [4]:
df_passenger_sample = df_passenger.head(500).copy()
df_landings_sample  = df_landings.head(500).copy()

**setting CouchDB connection URL and checking**

In [5]:
COUCH_URL = "http://admin:admin@localhost:5984"
DB_PASSENGER = "sfo_passenger_docs"
DB_LANDINGS  = "sfo_landings_docs"

# Quick connectivity test
r = requests.get(COUCH_URL)
print(r.status_code, r.json())

200 {'couchdb': 'Welcome', 'version': '3.5.1', 'git_sha': '44f6a43d8', 'uuid': '4ac53a13b46d25d84896204698cc9a13', 'features': ['access-ready', 'partitioned', 'pluggable-storage-engines', 'reshard', 'scheduler'], 'vendor': {'name': 'The Apache Software Foundation'}}

DB ensure + bulk insert

**creating couchdb database**

In [6]:
def create_db_if_not_exists(db_name):
    r = requests.put(f"{COUCH_URL}/{db_name}")
    if r.status_code in (201, 202):
        print("Created DB:", db_name)
    elif r.status_code == 412:
        print("DB already exists:", db_name)
    else:
        print("Error creating DB:", db_name, r.status_code, r.text)

create_db_if_not_exists(DB_PASSENGER)
create_db_if_not_exists(DB_LANDINGS)

DB already exists: sfo_passenger_docs
DB already exists: sfo_landings_docs

**inserting data to couchDB**

In [31]:
import numpy as np
import pandas as pd

def df_to_couch_batched(df, db_name, id_col=None, batch_size=5000):
    n_rows = len(df)
    print(f"Total rows to send: {n_rows}")

    for start in range(0, n_rows, batch_size):
        end = min(start + batch_size, n_rows)
        df_batch = df.iloc[start:end].copy()

        df_batch = df_batch.replace([np.inf, -np.inf], np.nan)      # inf → NaN
        df_batch = df_batch.where(pd.notnull(df_batch), None)      # NaN → None (JSON null)

        records = df_batch.to_dict(orient="records")

        bulk_docs = {"docs": []}
        for rec in records:
            doc = dict(rec)
            if id_col and id_col in doc:
                doc["_id"] = str(doc[id_col])
            bulk_docs["docs"].append(doc)

        url = f"{COUCH_URL}/{db_name}/_bulk_docs"
        r = requests.post(url, json=bulk_docs)
        print("Status:", r.status_code)

        if r.status_code >= 400:
            print(f"Error in batch {start}:{end}: {r.status_code}", r.text)
            break
        else:
            print(f"Inserted rows {start}:{end} into {db_name}")

In [13]:
df_to_couch_batched(df_passenger_sample, DB_PASSENGER)
df_to_couch_batched(df_landings_sample, DB_LANDINGS)

Total rows to send: 500
Status: 201
Inserted rows 0:500 into sfo_passenger_docs
Total rows to send: 500
Status: 201
Inserted rows 0:500 into sfo_landings_docs

**how many rows each region have**

In [14]:
df_passenger["GEO Region"].value_counts().head(10)

GEO Region
US                     13406
Asia                    8294
Europe                  6424
Canada                  3597
Mexico                  2893
Australia / Oceania     1971
Central America          941
Middle East              753
South America             91
Name: count, dtype: int64

**checking how many documents are in 'sfo_passenger_docs'**

In [32]:
COUCH_URL = "http://admin:admin@localhost:5984"
DB_PASSENGER = "sfo_passenger_docs"

#DB info 
info = requests.get(f"{COUCH_URL}/{DB_PASSENGER}").json()
print("doc_count:", info.get("doc_count"))

#first few sample
rows = requests.get(f"{COUCH_URL}/{DB_PASSENGER}/_all_docs?include_docs=true&limit=5").json()
for row in rows["rows"]:
    print("----")
    print(row["doc"].get("GEO Region"), row["doc"].get("Operating Airline"))

doc_count: 1501
----
None None
----
US ATA Airlines
----
US ATA Airlines
----
US ATA Airlines
----
Europe Aeroflot Russian International Airlines

**for sending data from notebook to BigQuery**

In [17]:
!pip install google-cloud-bigquery pandas pyarrow db-dtypes

Requirement already satisfied: google-cloud-bigquery in /opt/anaconda3/lib/python3.13/site-packages (3.38.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: pyarrow in /opt/anaconda3/lib/python3.13/site-packages (19.0.0)
Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.13/site-packages (1.4.4)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in /opt/anaconda3/lib/python3.13/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.28.1)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /opt/anaconda3/lib/python3.13/site-packages (from google-cloud-bigquery) (2.43.0)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /opt/anaconda3/lib/python3.13/site-packages (from google-cloud-bigquery) (2.5.0)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=24.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from google-cloud-bigquery) (24.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0,>=2.21.0 in /opt/anaconda3/lib/python3.13/site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /opt/anaconda3/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.72.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /opt/anaconda3/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (6.33.1)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /opt/anaconda3/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.26.1)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in /opt/anaconda3/lib/python3.13/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.76.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in /opt/anaconda3/lib/python3.13/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.76.0)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (5.5.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (4.9.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/anaconda3/lib/python3.13/site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.7.1)
Requirement already satisfied: typing-extensions~=4.12 in /opt/anaconda3/lib/python3.13/site-packages (from grpcio<2.0.0,>=1.33.2->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (4.12.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2025.8.3)
Requirement already satisfied: pyasn1>=0.1.3 in /opt/anaconda3/lib/python3.13/site-packages (from rsa<5,>=3.1.4->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)

**tell python which service account key file to use, log in BigQuery**

In [23]:
import os


os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/Key/sfo-lakehouse-226-46bdf89c9bb1.json"

**setting the connection with BigQuery**

In [24]:
from google.cloud import bigquery
import pandas as pd
import requests

PROJECT_ID = "sfo-lakehouse-226"

client = bigquery.Client(project=PROJECT_ID)
print("Connected to:", client.project)

Connected to: sfo-lakehouse-226

**connects to CouchDB**

In [25]:
import requests
import pandas as pd

COUCHDB_BASE = "http://admin:admin@localhost:5984"
DB_NAME = "sfo_passenger_docs"

url = f"{COUCHDB_BASE}/{DB_NAME}/_all_docs?include_docs=true"

resp = requests.get(url)
resp.raise_for_status()

rows = resp.json()["rows"]
print("Total docs fetched from CouchDB:", len(rows))

Total docs fetched from CouchDB: 1501

**Cleaning the document**

In [27]:
docs = []

for r in rows:
    doc_id = r.get("id", "")
    doc = r.get("doc", {})

    #skipping design doc
    if doc_id.startswith("_design/"):
        continue

    #removing metafield
    doc.pop("_id", None)
    doc.pop("_rev", None)
    
    doc.pop("views", None)
    doc.pop("language", None)

    docs.append(doc)

df_couch = pd.DataFrame(docs)
print(df_couch.shape)
df_couch.head()

(1500, 15)

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,None,Aeroflot Russian International Airlines,None,International,Europe,Deplaned,Other,Terminal 2,D,1324,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,None,Aeroflot Russian International Airlines,None,International,Europe,Enplaned,Other,Terminal 2,D,1198,2025/08/21 08:21:35 AM,2025/08/22 03:03:24 PM

**upload cleaned CouchDB data into BigQuery**

In [28]:
table_id = f"{PROJECT_ID}.sfo_raw.passenger_from_couch"

job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE"
)

load_job = client.load_table_from_dataframe(
    df_couch,
    table_id,
    job_config=job_config,
)

load_job.result()

print("Loaded rows:", df_couch.shape[0], "into", table_id)

/opt/anaconda3/lib/python3.13/site-packages/google/cloud/bigquery/_pandas_helpers.py:484: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

Loaded rows: 1500 into sfo-lakehouse-226.sfo_raw.passenger_from_couch